@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Custom Global Styles */
body {
  @apply bg-background dark:bg-darkBackground text-gray-800 dark:text-gray-200;
}
